
/* Your CSS Code here. */


.text{
	width:240px;
	margin:30px 30px;
	border-style:dashed;
	border-width:1px;
	background-color:darkturquoise;
}

.box{
	width:300px;
	margin:40px 50px;
	border-style: solid;
	border-width:1px;
	background-color:darkturquoise;
}

.padd{
	width:400px;
	margin:10px 30px 30px 50px;
	border-style: solid;
	border-width:1px;
	background-color:darkturquoise;
	
}
.bord{
	width:500px;
	margin:10px 40px 40px 40px;
	border-style: solid;
	border-width:1px;
	background-color:mediumslateblue;
}
.marg{
	width:590px;
	margin:0px;
	border-style: solid;
	border-width:1px;
	background-color:white;
}

.alignleft {
	padding:0px 0px 0px 10px;
	margin:5px 10px;
	float: left;
}
.alignright {
	padding:0px 10px 0px 0px;
	margin:5px 10px;
	float: right;
}

#p1{
	margin:0px;
	text-align:center;
}
.bord #p2{
	padding:0px 0px 0px 10px;
	
}
.marg #p3{
	padding:0px 0px 0px 10px;
}
